<source>
  @type forward
  @id _test_forward_input
  bind "#{ENV['TEST_BIND_ADDRESS']}"
  port "#{ENV['TEST_FORWARD_PORT']}"
</source>

<source>
  @type monitor_agent
  bind "#{ENV['TEST_BIND_ADDRESS']}"
  port "#{ENV['TEST_MONITOR_PORT']}"
</source>

@include "#{ENV['TEST_CONF']}"

<% options[:stub_labels].each do |label| tmpkey_name = "__label_#{label}__" -%>
<label @<%= label %>>
  <filter /\A(?!<%= tmpkey_name %>\.).*/>
    @type record_modifier
    <record>
      <%= tmpkey_name %> "1"
    </record>
  </filter>
  <match /\A(?!<%= tmpkey_name %>\.).*/>
    @type rewrite_tag_filter
    <rule>
      key <%= tmpkey_name %>
      pattern //
      tag <%= tmpkey_name %>.${tag}
    </rule>
  </match>

  <filter <%= tmpkey_name %>.**>
    @type record_modifier
    remove_keys <%= tmpkey_name %>
  </filter>
  <match <%= tmpkey_name %>**>
    @type file
    @id _test_output_<%= label %>
    path "#{ENV['TEST_OUTPUT_DIR']}/test"
    <format>
      time_format %FT%T.%9N%:z
    </format>
    <buffer>
      @type memory
      flush_mode immediate
    </buffer>
  </match>
</label>
<% end -%>

<label @ERROR>
  <match **>
    @type file
    @id _test_error_output
    path "#{ENV['TEST_ERROR_OUTPUT_DIR']}/test"
    <buffer>
      @type memory
      flush_mode immediate
    </buffer>
  </match>
</label>
