<source>
  @type forward
  @id _test_forward_input
  bind <%= bind_address %>
  port <%= forward_port %>
</source>

<source>
  @type monitor_agent
  bind <%= bind_address %>
  port <%= monitor_port %>
</source>

@include "<%= conf_path %>"

<% stub_labels.each do |label| label_key = label_key(label) -%>
<label @<%= label %>>
  <filter /\A(?!<%= label_key %>\.).*/>
    @type record_modifier
    <record>
      <%= label_key %> "1"
    </record>
  </filter>
  <match /\A(?!<%= label_key %>\.).*/>
    @type rewrite_tag_filter
    <rule>
      key <%= label_key %>
      pattern //
      tag <%= label_key %>.${tag}
    </rule>
  </match>

  <filter <%= label_key %>.**>
    @type record_modifier
    remove_keys <%= label_key %>
  </filter>
  <match <%= label_key %>**>
    @type file
    @id <%= label_key %>
    path "<%= output_dir %>/test"
    <format>
      time_format %FT%T.%9N%:z
    </format>
    <buffer>
      @type memory
      flush_mode immediate
    </buffer>
  </match>
</label>
<% end -%>

<label @ERROR>
  <match **>
    @type file
    @id _test_error_output
    path "<%= error_output_dir %>/test"
    <buffer>
      @type memory
      flush_mode immediate
    </buffer>
  </match>
</label>
