<source>
  @type forward
  @id _test_forward_input
  bind <%= bind_address %>
  port <%= forward_port %>
</source>

<source>
  @type monitor_agent
  bind <%= bind_address %>
  port <%= monitor_port %>
</source>

@include "<%= conf_path %>"

<% stub_labels.each do |label| -%>
<label @<%= label %>>
  <filter **>
    @type record_modifier
    <record>
      <%= stubbed_label_key %> <%= label %>
    </record>
  </filter>
  <match **>
    @type file
    @id <%= label_key(label) %>
    path "<%= output_dir %>/test"
    <format>
      time_format %FT%T.%9N%:z
    </format>
    <buffer>
      @type memory
      flush_mode immediate
    </buffer>
  </match>
</label>
<% end -%>

<label @ERROR>
  <match **>
    @type file
    @id _test_error_output
    path "<%= error_output_dir %>/test"
    <buffer>
      @type memory
      flush_mode immediate
    </buffer>
  </match>
</label>
